@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

body {
   background-image: url(Imagens/backgroundDesk.png);
   margin: 0;
   padding: 0;
   width: 100%;
   font-family: 'Urbanist';
}


:root {
   --cor--fundo: #141414;
   --cor--hover: #2e2d2d;
   --cor--primaria: #ffff;
   --cor--hover2: #dc143c;
   --cor--bgwhite: #E1E1E1;
}

.app-header{
    display: none;
}

.site-header {
    background-color: transparent;
    padding: 10px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-left: 50px;
 }

 .menu ul {
    list-style-type: none;
    padding: 0;
    display: flex;
 }

 .menu ul li a {
    color: var(--cor--primaria);
    font-size: 2.5vh;
    text-decoration: none;
    display:inline-flex;
    padding: 7px;
    transition: background 0.7s;
 }

 .menu ul li a:hover {
    background-color: var(--cor--hover2);
    width: 150px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
 }

 .titulos{
   height: 500px;
 }

 .titulo, .info{
   color: var(--cor--bgwhite);
   font-family: urbanist;
   text-align: center;
 }

 .site-footer{
    background-color: transparent;
   text-align: center;
   color: #E1E1E1;
}