@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

body {
   margin: 0;
   padding: 0;
   width: 100%;
   font-family: 'Urbanist';
   background: var(--cor--fundo)
}



:root {
   --cor--fundo: #141414;
   --cor--hover: #2e2d2d;
   --cor--primaria: #ffff;
   --cor--hover2: #dc143c;
   --cor--bgwhite: #E1E1E1;
}

 
 .titulos{
   height: 500px;
 }

 .titulo{
   color: var(--cor--bgwhite);
   font-family: urbanist;
   text-align: center;
 }

 p{
   color: #E1E1E1;
   text-align: center;
   margin-top: 150px;
 }

 
 .add{
   justify-content: center;
   margin-left: 150px;
   margin-right: 2vh;
  }
 
  .add button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    color: #E1E1E1;
    background-color: var(--cor--hover2);
    padding: 0.62rem;
    border-radius: 20px;
    cursor: pointer;
    font-family: urbanist;
    font-weight: 600;
 }
 
 .add button:hover {
    background-color: #ec2222f1;
 }

 .site-footer{
    background-color: transparent;
   text-align: center;
   color: #E1E1E1;
}


.back-button {
   position: absolute;
   top: 30px;
   left: 20px;
   font-size: 30px;
   cursor: pointer;
}

.back{
   color: var(--cor--bgwhite);
}


   h1{
       text-align: center;
       margin-bottom: -5px;
       font-size: 22px;
       margin-top: 20px;
     }
   
    h3{
       display: flex;
       margin-left: 10px;
       text-align: center;
       font-size: 14px;
    }

    .site-header {
      display: none;
    }

.titulos{
   height: 80px;
 }


