@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

body {
   background-image: url(/assets/img/backgroundDesk.svg);
   margin: 0;
   padding: 0;
   width: 100%;
   font-family: 'Urbanist';
   opacity: 0;
   transition: opacity 0.5s ease;
}

body.loaded {
   opacity: 1;
}
:root {
   --cor--fundo: #141414;
   --cor--hover: #2e2d2d;
   --cor--primaria: #ffff;
   --cor--hover2: #dc143c;
   --cor--bgwhite: #E1E1E1;
}

 .back-button {
   position: absolute;
   top: 30px;
   left: 20px;
   font-size: 30px;
   cursor: pointer;
}

.back{
   color: var(--cor--bgwhite);
}



 .titulos {
   height: 100px; /* Defina uma altura específica para o contêiner */
   display: flex;
   align-items: center; 
   justify-content: center; 
   margin-top: 20px;
   margin-bottom: 20px;
   color: var(--cor--bgwhite);
   height: 45px;
    
     
}

.titulos h1 {
   font-size: 2rem;
   max-width: 90%;
 
}

 .titulo, .info{
   color: var(--cor--bgwhite);
   font-family: urbanist;
   text-align: center;
 }


 .container-login {
   width:80%;
   height: auto;
   margin:0;
   margin-left: 15px;
   margin-bottom: 150px;
   box-shadow: none;
   margin-left: 8px;
   color: var(--cor--bgwhite);
}

a{
   text-decoration: none;
   color: #440612;
}





.img-loginmob {
 display: none;
}


.img-login {
   width: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 1rem;
}

.img-login img {
   width: 100%;
   height: 100%;
}


.dados-login .form{
   width: 100%;
}

.alt-login{
   margin-right: 3vh;
  }

  
  .alt-login{
   margin-right: 5vh;
  }


.dados-login {
   width: 100%;
   padding: 2rem;
   border-radius: 20px; 
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #ffffff48;
   backdrop-filter: blur(8px); /* Aplicando o efeito de desfoque ao fundo */
}

.dados-login .form .alt-login{
   display: flex;
   align-items: center;
   justify-content: center;
}

.dados-login .form .alt-login li{
 list-style: none;
 width: 100px;
 height: 100px;
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 0 7px;

}

.form .alt-login li img{
   width: 80px;
   cursor: pointer;
}


.form h1::after {
   content: '';
   display: block;
   width: 5rem;
   height: 0.3rem;
   background-color: var(--cor--hover2);
   margin: 0 auto;
   position: absolute;
   border-radius: 10px;
   font-family: urbanist;
}


.input-box {
   display: flex;
   flex-direction: column;
   margin-bottom: 1.1rem;
}

.input-box input {
   margin: 0.6rem 0;
   padding: 0.8rem 1.2rem;
   border: none;
   border-radius: 10px;
   box-shadow: 1px 1px 6px #0000001c;
   font-size: 0.8rem;
}

.input-box input:hover {
   background-color: #dda6a675;
}

.input-box input:focus-visible {
   outline: 1px solid #ff6363;
}

.input-box input::placeholder {
   color: #000000be;
}

.entrar-button button {
   width: 90%;
       margin-top: 2rem;
       margin-left: 2vh;
   border: none;
   background-color: var(--cor--hover2);
   padding: 0.62rem;
   border-radius: 20px;
   cursor: pointer;
   font-family: urbanist;
}

.entrar-button button:hover {
   background-color: #ec2222f1;
}

.entrar-button button a {
   text-decoration: none;
   font-size: 0.93rem;
   font-weight: 500;
   color: #fff;
}

   .site-footer {
       display: flex;
       color: transparent;
   }




