@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

body {
   margin: 0;
   padding: 0;
   width: 100%;
   font-family: 'Urbanist';
   background: rgb(0,0,0);
   background: linear-gradient(160deg, rgb(17, 17, 17) 0%, rgba(29,29,29,1) 39%, rgb(53, 53, 53) 100%);
}



:root {
   --cor--fundo: #141414;
   --cor--hover: #2e2d2d;
   --cor--primaria: #ffff;
   --cor--hover2: #dc143c;
   --cor--bgwhite: #E1E1E1;
}

h1{
   text-align: center;
   margin-bottom: -5px;
   font-size: 22px
 }

 .titulo{
   height: 500px;
   margin-top: 30px;
 }

 .titulo{
   color: var(--cor--bgwhite);
   font-family: urbanist;
   text-align: center;
 }

 .titulo{
   color: var(--cor--bgwhite);
   font-family: urbanist;
   text-align: center;
 }

.refe{
   margin-top: -50vh;
   margin-left: 50px;
   margin-bottom: 190px;
 }
 .button-container {
   display: flex;
 }

.button1, .button2 {
   color: white;
   border: none;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 12px;
   margin-top: 50px;
   margin-right: 10px;
   margin-bottom: 40px;
   cursor: pointer;
   border-radius: 4px;
}

.button1 {
   width: 80%;
   margin-left: -3vh;
}



  .refe button {
   width: 50%;
   margin-top: 1rem;
   border: none;
   color: #ffffff; /* Texto branco */
   background-color: var(--cor--hover2); /* Hover mais claro */
   padding: 0.62rem;
   border-radius: 20px;
   cursor: pointer;
   font-family: urbanist;
   font-weight: 600;
}
 
.refe button:hover {
   background-color: #ec2222f1; /* Hover mais claro */
}

 .card {
   width: 300px;
   border: 1px solid #ccc;
   border-radius: 8px;
   overflow: hidden;
   margin-bottom: 50px;
   color: #E1E1E1;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
   width: auto;
   height: auto;
   border-bottom: 1px solid #ccc;
}

.card-content {
   padding: 15px;
}

.card-title {
   font-size: 1.2rem;
   font-weight: bold;
   margin-bottom: 10px;
}

.card-details-btn {
   background-color: var(--cor--hover2);
   color: white;
   border: none;
   padding: 8px 16px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 14px;
   border-radius: 4px;
   cursor: pointer;
}

.bottom-navbar {
   position: fixed;
   bottom: 0;
   width: 100%;
   background-color: #333;
   display: flex;
   justify-content: space-around;
   padding: 25px 0 ;
   margin-bottom: 45px;
   border-radius: 50px;
   background-color: #2b2b2bf3;
}


.bottom-navbar a {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   text-decoration: none;
   color: #fff;
   font-size: 18px;
}

.bottom-navbar a:hover {
   color: #dc143c;
}

