@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

body {
   background: rgb(0,0,0);
   background: linear-gradient(160deg, rgb(17, 17, 17) 0%, rgba(29,29,29,1) 39%, rgb(53, 53, 53) 100%);
   margin: 0;
   padding: 0;
   width: 100%;
   font-family: 'Urbanist';
}

:root {
   --cor--fundo: #141414; /* Fundo escuro */
   --cor--hover: #2e2d2d; /* Hover mais escuro */
   --cor--primaria: #ffffff; /* Texto principal em branco */
   --cor--hover2: #dc143c; /* Hover mais claro */
   --cor--bgwhite: #E1E1E1; /* Fundo branco */
   --cor--primeira2: #740d21; /* Cor adicional */
}


 .titulo{
   height: 500px;
   margin-top: 30px;
 }

 .titulo{
   color: var(--cor--bgwhite);
   font-family: urbanist;
   text-align: center;
 }


 .add{
  justify-content: center;
  margin-left: 25vh;
  margin-right: 2vh;
 }

 .add button {
   width: 100%;
   margin-top: 2.5rem;
   border: none;
   color: #E1E1E1;
   background-color: var(--cor--hover2);
   padding: 0.62rem;
   border-radius: 20px;
   cursor: pointer;
   font-family: urbanist;
   font-weight: 600;
}

.add button:hover {
   background-color: #ec2222f1;
}
h1{
   text-align: center;
   margin-bottom: -5px;
   font-size: 22px
 }

h3{
   display: flex;
   margin-left: 10px;
   text-align: center;
   font-size: 14px;
}



.treinos {
width: 100%;
color: var(--cor--bgwhite);
margin-top: -55vh;
margin-bottom: 190px;
}

table {
width: 90%;
border-collapse: collapse;
color: var(--cor--bgwhite);
margin-top: 25px;
margin-left: 20px;

}

th, td {
   border: 1px solid #dddddd25;
   padding: 8px;
   text-align: left;
   margin-bottom: 20px;
}

th {
   background-color:var(--cor--primeira2)
}

.bottom-navbar {
   position: fixed;
   bottom: 0;
   width: 100%;
   background-color: #333;
   display: flex;
   justify-content: space-around;
   padding: 25px 0 ;
   margin-bottom: 45px;
   border-radius: 50px;
   background-color: #2b2b2bf3;
}

.bottom-navbar a {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   text-decoration: none;
   color: #fff;
   font-size: 18px;
}

.bottom-navbar a:hover {
   color: #dc143c;
}
